@import "https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css";


body {
    height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#player {
    margin: 50px;
    background: white;
    max-width: 400px;
}

.card {
    margin: 0;
}

h4 {
    color: rgb(221, 119, 179);
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.card-image {
    background: url('../../assets/files/news34076-big.jpg') no-repeat center center / cover ;
    height: 200px;
}

audio {
    width: 100%;
    margin-top: 30px;
}